@model IEnumerable<MyStoreFront1.Models.Products>;

@{
    ViewData["Title"] = "Index";
}
<hr>
@foreach(var product in Model){
<div class="row">
    <div class="col-4">
        <img src="@product.ImageUrl" alt="@product.Name" class="img-fluid" />
    </div>
    <div class="col-8">
        <dl>
            <dt>Name</dt>
            <dd>@product.Name</dd>
            <dt>Description</dt>
            <dd>@product.Description</dd>
            <dt>Price</dt>
            <dd>@(product.Price.HasValue ? product.Price.Value.ToString("c") : "No Price")</dd>
<!--            <button class="btn btn-dark">Add to cart</button>-->
        </dl>
        @if(product.Reviews != null && product.Reviews.Any())
        {
            foreach(var review in product.Reviews)
            {
                <blockquote>
                    @review.Body - @review.Rating
                </blockquote>
            }
        }
        <form asp-action="index" asp-controller="products" method="post">
            <input type="hidden" name="name" value="@product.Id">
            <input type="submit" value="Add to cart" class="btn btn-dark" />
        </form>
    </div>
</div>
}