@model MyStoreFront1.Models.ProductsViewModel;

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-4">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />
    </div>
    <div class="col-8">
        <dl>
            <dt>Name</dt>
            <dd>@Model.Name</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
            <dt>Price</dt>
            <dt>@Model.Price</dt>
        </dl>
    </div>
</div>